<div  class="container py-16 items-start gap-3">
    <div class="shadow px-6 py-7 rounded overflow-hidden grid grid-cols-2 gap-6">
        <div class="space-y-3">
            <div class="mb-7" >
                <h1 class="text-2xl  font-semibold mb-1">Contact Us</h1>
                <h3 class="font-semibold text-gray-600 text-md  border-b pb-20">We value your feedback and would love to hear from you! If you have any questions, concerns, or suggestions regarding our online e-commerce app, please do not hesitate to get in touch with us. Our dedicated customer support team is here to assist you.</h3>
            </div>
            <div class="space-y-4">
                <div class="flex items-center gap-2 px-5">
                    <i class="fa-solid fa-phone" style="color: #45ffca;"></i>
                    <span class="text-lg text-gray-600  font-medium" >+(216) 78 112 202</span>
                </div>
                <div class="flex items-center gap-2 px-5">
                    <i class="fa fa-envelope" style="color: #45ffca;"></i>
                    <span class="text-lg text-gray-600  font-medium" >ShopOnline@gmail.net</span>
                </div>
                <div class="flex items-center gap-2 px-5">
                    <i class="fa-solid fa-map-pin" style="color: #45ffca;"></i>
                    <span class="text-lg text-gray-600  font-medium " >14, Street 22, New York</span>
                </div>
            </div>
            <div class="flex items-center gap-3 pt-24 px-7">
                <a href="" class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div>
            <form action="https://getform.io/f/8c064228-2e13-40ba-bf3f-3f6528478964" method="POST">
                <div>
                 <div>
                     <label for="name" class="text-gray-600 mb-2 block">Name:</label>
                     <input type="text" name="name" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Enter your name">
                 </div>
                 <div class="mt-2">
                     <label for="email" class="text-gray-600 mb-2 block">Email address:</label>
                     <input type="email" name="email" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Enter your email adress">
                 </div>
                 <div class="mt-6">
                    
                    <label for="text" class="text-gray-600 mb-2 block">Message:</label>
                    <textarea name="message"  class="block w-full h-40 border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Get in touch with us"></textarea>
                </div>
            </div>
                <div class="mt-4 flex items-center justify-center">
                 <button type="submit" class="block w-40 py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase  font-semibold">Send</button>
                </div>
             </form>
        </div>
    </div>
</div>
