<!-- login -->
<div class="container pt-6 pb-16">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <p class="text-2xl  font-semibold mb-1">Create an account</p>
        <p class="text-gray-600 mb-6 text-sm">
            Register here if you don't have account
        </p>
        <form  [formGroup]="form" (ngSubmit)="onSubmit()">
           <div class="space-y-4">
            <div>
                <label for="name" class="text-gray-600 mb-2 block">Full Name:</label>
                <input type="text" formControlName="fullname" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Enter your first name">
            </div>
            
            <div>
                <label for="Address" class="text-gray-600 mb-2 block">Address:</label>
                <input type="text" formControlName="address" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Enter your address">
            </div>
            <div>
                <label for="phone" class="text-gray-600 mb-2 block">Phone Number:</label>
                <input type="tel" formControlName="phone" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Phone number">
            </div>
            <div>
                <label for="birthday" class="text-gray-600 mb-2 block">Birthday:</label>
                <input type="date" formControlName="birthday" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400">
            </div>
            <div>
                <label for="email" class="text-gray-600 mb-2 block">Email Adress:</label>
                <input type="email" formControlName="email" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="example@gmail.com">
            </div>
            <div>
                <label for="password" class="text-gray-600 mb-2 block">Password:</label>
                <input type="password" formControlName="password" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Type password">
            </div>
            <div>
                <label for="confirmpassword" class="text-gray-600 mb-2 block">Confirm Password:</label>
                <input type="password" formControlName="confirmpassword" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Confirm your password">
            </div>
            
           </div>
           <div class="flex items-center gap-2 mt-6">
            <div class="flex items-center">
                <input type="checkbox" id="agreement" class="text-primary focus:ring-0 rounded-sm cursor-pointer">
                <label for="agreement" class="text-gray-600 ml-3 cursor-pointer select-none ">I have read and agree to the </label>
            </div>
            <a href="#" class="text-primary">terms & conditions</a>
           </div>
           <div class="mt-4">
            <button type="submit" class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase  font-semibold" >create account</button>
           </div>
        </form>

        <div class="mt-6 flex justify-center relative">
            <div class="text-gray-600 uppercase px-3 bg-white z-10 relative ">Or singup in with</div>
            <div class="absolute left-0 top-3 w-full border-b-2 border-gray-200"></div>
        </div>
        <div class="flex mt-4 gap-4">
            <a href="" class="w-1/2 py-2 text-center text-white bg-blue-800 rounded uppercase font-semibold text-sm hover:bg-blue-700">facebook</a>
            <a href="" class="w-1/2 py-2 text-center text-white bg-red-700 rounded uppercase font-semibold text-sm hover:bg-red-600">google</a>
        </div>
        <div>
            <p class="mt-4 text-gray-600 text-center">Already have an account? <a routerLink="/auth/login" class="text-primary">Login now</a></p>
        </div>
    </div>
</div>
