<div class="col-span-9 shadow rounded  px-6 pt-5 pb-7">
    <p class="font-medium text-gray-800 text-lg">My Credits Cards:</p>
    <hr class="my-4">

    <div class="grid grid-rows gap-4">
        <div class=" bg-white px-4  pb-4 border-b" *ngFor="let card of card">
            <div class="space-y-1 flex justify-between">
                <p class="text-gray-700">{{card.cardNumber}}</p>
                <p class="text-gray-800">{{card.cardholderName}}</p>
                <p class="text-gray-800">{{card.expirationDate}}</p>
                <p class="text-gray-800">{{card.cvv}}</p>
                <div class="flex justify-end gap-3 mt-2 text-primary">
                    <a (click)="deleteCard(card.id)">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </div>
            </div>
        </div>    
    </div>


</div>







