<nav class="bg-gray-800">
    <div class="container flex">
        <!-- category list-->
        <div class="px-8 py-4 bg-primary flex items-center cursor-pointer relative group">
            <span class="text-gray-700">
                <i class="fas fa-bars" ></i>
            </span>
            <span class="capitalize ml-2 text-gray-700">All categories</span>

            <div class="absolute w-full left-0 top-full bg-white shadow-md py-3 divide-y divide-gray-300 divide-dashed opacity-0 group-hover:opacity-100 transition duration-300 invisible group-hover:visible">
                <ul class="flex items-center px-2  py-3 hover:bg-gray-100 transition" *ngFor="let category of categories">
                    <li class="ml-2 text-gray-600 text-sm">{{category.nameCategory}}</li>
                </ul>
            </div>
        </div>

        <!-- navbar menu-->
        <div class="flex items-center justify-between flex-grow pl-12">
            <div class="flex items-center space-x-6 capitalize">
                <a routerLink="/" class="text-gray-200 hover:text-primary transition" >Home</a>
                <a routerLink="/shop" class="text-gray-200 hover:text-primary transition" >Shop</a>
                <a routerLink="/about-us"  class="text-gray-200 hover:text-primary transition" >About us</a>
                <a routerLink="/contact-us" class="text-gray-200 hover:text-primary transition" >Contact us</a>
            </div>
        </div>
        <div class="flex items-center space-x-4">
            <a routerLink="/auth/login" class="text-gray-200 hover:text-primary transition flex items-center gap-1 ">
                <div class="text-sm font-semibold leading-3">Login</div>
                <div class="text-lg" >
                    <i class="fa fa-sign-in"></i>
                </div>
                
            </a>
        </div>

    </div>

</nav>
