<div class="grid grid-cols-1 h-full gap-4">
    <div class="shadow rounded bg-white px-4 pt-6 pb-8 ">
        <div class="mb-4  border-b pb-4">
            <div class="flex justify-between items-center mb-2">
                <p class="font-semibold text-gray-800 text-lg">Profile Information:</p>
                <a href="" class="text-primary">Edit</a>
            </div>
            <div class="space-y-4 pl-4 mt-4">
                <h1 class="text-gray-700 font-semibold flex gap-3">Full Name : <p>user name</p> </h1>
                <h1 class="text-gray-700 font-semibold flex gap-3">Email Adress : <p>user eamil </p> </h1>
                <h1 class="text-gray-700 font-semibold flex gap-3">Phone Number : <p> user phone</p> </h1>
                <h1 class="text-gray-700 font-semibold flex gap-3 ">Birthday : <p> user birthday</p> </h1>
            </div>
        </div>


        <div class="my-2 border-b pb-4">
            <div class="flex justify-between items-center mb-2">
                <p class="font-semibold text-gray-800 text-lg">Shipping Address:</p>
                <a href="" class="text-primary">Edit</a>
            </div>
            <div class="space-y-4 pl-4 mt-4">
                <h1 class="text-gray-700 font-semibold flex gap-3">Street : <p>user Street</p> </h1>
                <h1 class="text-gray-700 font-semibold flex gap-3">City : <p>user City </p> </h1>
                <h1 class="text-gray-700 font-semibold flex gap-3">State : <p> user State</p> </h1>
                <h1 class="text-gray-700 font-semibold flex gap-3">Country : <p> user Country</p> </h1>
            </div>
        </div>

        <div class="my-2">
            <div class="flex justify-between items-center mb-2">
                <p class="font-semibold text-gray-800 text-lg">Credit Card:</p>
                <a href="" class="text-primary">Edit</a>
            </div>
            <div class="space-y-4 pl-4 mt-4">
                <h1 class="text-gray-700 font-semibold flex gap-3">Card Number : <p>user Card Number</p></h1>
                <h1 class="text-gray-700 font-semibold flex gap-3">Card Name : <p>user Card Name</p> </h1>
                <h1 class="text-gray-700 font-semibold flex gap-3">experation Month : <p> user experation Month</p> </h1>
                <h1 class="text-gray-700 font-semibold flex gap-3">experation Year : <p> user experation Year</p> </h1>
                <h1 class="text-gray-700 font-semibold flex gap-3">CVV : <p> user Cvvy</p> </h1>
            </div>
        </div>

    </div>
</div>
