<div class="grid grid-cols-1 h-full gap-4">
    <div class="shadow rounded bg-white px-4 pt-6 pb-8 ">
        <div class="mb-4  pb-4">
            <div class="flex justify-between items-center mb-2">
                <p class="font-medium text-gray-800 text-lg">Profile Information:</p>
                <a routerLink="/user/profile-information" class="text-primary">Edit</a>
            </div>
            <div class="space-y-6 pl-4 mt-4">
                <hr>
                <h1 class="text-gray-700 font-medium flex gap-3">Full Name : <p>{{user.fullName}}</p> </h1>
                <h1 class="text-gray-700 font-medium flex gap-3">Email Adress : <p>{{user.email}} </p> </h1>
                <h1 class="text-gray-700 font-medium flex gap-3">Phone Number : <p>{{user.phone }}</p> </h1>
                <h1 class="text-gray-700 font-medium flex gap-3 ">Birthday : <p>{{user.birthday | date}}</p> </h1>
                <h1 class="text-gray-700 font-medium flex gap-3 ">Shipping Address : <p>{{user.address}}</p> </h1>
            </div>
        </div>
    </div>
</div>
