<div class="bg-cover bg-no-repeat bg-top  py-56" style="background-image: url(assets/home-page.jpg);">
    <div class="container">
        <h1 class="text-6xl text-gray-800 font-medium mb-4 capitalize">
            Some shit
        </h1>
        <p>some text</p>
        <p>some text</p>
        <p>some text</p>
        <div class="mt-12">
            <a href="#" class="bg-primary border border-primary text-black px-8 py-3 font-medium rounded-md hover:bg-transparent hover:text-primary transition">Shop Now</a>
        </div>
    </div>

</div>
