<div class="col-span-9 shadow rounded px-6 pt-5 pb-7">
    <p class="text-lg font-semibold capitalize mb-4">Profile information:</p>
    <form action="">

        <div class="space-y-4">
            <div class="flex gap-4">
                <div>
                    <label for="firstName" class="text-gray-600 mb-2 block">Full Name:</label>
                    <input name="fullName" [(ngModel)]="user.fullName" type="text" class="block w-72 border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="First Name">
                </div>
                <div>
                    <label for="email" class="text-gray-600 mb-2 block">Email Address:</label>
                    <input name="email" [(ngModel)]="user.email" type="email" class="block w-72 border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Example@gmail.com">
                </div>
            </div>

            <div class="flex gap-4">
                <div>
                    <label for="birthday" class="text-gray-600 mb-2 block">Birthday:</label>
                    <input name="birthday" [(ngModel)]="user.birthday" type="date" class="block w-72 border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Birthday">
                </div>
                 <div>
                    <label for="Phone" class="text-gray-600 mb-2 block">Phone number:</label>
                    <input name="phone" [(ngModel)]="user.phone" type="tel" class="block w-72 border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Phone number">
                </div>
            </div>
            <div class="flex gap-4">
                <div>
                    <label for="picture" class="text-gray-600 mb-2 block">Picture:</label>
                    <input name="picture" (change)="onFileSelected($event)" type="file" class="block w-72 border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400">
                </div>
                    <div>
                        <label for="address" class="text-gray-600 mb-2 block">Adress:</label>
                        <input name="address" [(ngModel)]="user.adress" type="text" class="block w-72 border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Your address">
                    </div>
            </div>
           
           </div>
 
        <div class="mt-4">
         <button type="submit" (click)="updateUser()" class="py-2 px-3 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase  font-semibold">Save change</button>
        </div>
     </form>
</div>
