<div class="container py-4 flex items-center gap-3">
  <a routerLink="/" class="text-primary text-base">
    <i class="fas fa-home"></i>
  </a>
  <span class="text-sm text-gray-400">
    <i class="fas fa-chevron-right"></i>
  </span>
  <p class="text-gray-600 font-medium">Product Management</p>
</div>
<div class="container pt-4 pb-16 items-start gap-3">
  <div class="shadow px-6 py-7 rounded overflow-hidden">
    <p class="text-lg font-medium capitalize mb-4">Product List:</p>

    <div class="pb-7 flex items-end justify-end">
      <button routerLink="/products/Addproducts" class="inline-flex gap-x-2 items-center py-2.5 px-6 text-gray-700 bg-white border border-gray-700 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-1">
        <i class="fas fa-plus"></i>
        <span class="text-sm font-semibold tracking-wide" >Create Item</span>
    </button>
    </div>

    <table class="w-full">
      <thead>
        <tr class="text-md font-se text-gray-600 border border-gray-800">
          <td class="pl-30"></td>
          <td class="py-4 px-4 text-center">Name</td>
          <td class="py-4 px-4 text-center">Brand</td>
          <td class="py-4 px-4 text-center">Price</td>
          <td class="py-4 px-4 text-center">Rating</td>
          <td class="py-4 px-4 text-center">Category</td>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let pro of products"
          class="w-full border border-gray-800 transition-colors"
        >
          <td class="flex gap-x-4 items-center py-4 pl-10">
            <img
              [src]="pro.image"
              alt="product_img"
              class="w-40 aspect[3/2] rounded-lg object-cover object-top border border-gray-200"
            />
            <a
              routerLink="/product-detail"
              class="text-lg font-medium text-gray-600"
            >
            </a>
          </td>
          <td class="font-medium text-center text-gray-600">{{ pro.name }}</td>
          <td class="font-medium text-center text-gray-600">{{ pro.brand }}</td>
          <td class="font-medium text-center text-gray-600">
            {{ pro.priceTTC }}
          </td>
          <td class="text-center text-gray-600">
            <div class="flex items-center ml-14">
              <div
                class="flex gap-1 text-sm text-yellow-400"
                *ngFor="
                  let i of [].constructor(pro.rating);
                  let index = index
                "
              >
                <span><i class="fas fa-star"></i></span>
              </div>
              <div class="text-xs text-gray-600">
                {{ "(" + pro.rating + "/5)" }}
              </div>
            </div>
          </td>
          <td class="font-medium text-center text-gray-600">
            {{ pro.category.nameCategory }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
