<div class="container py-16 items-start">
    <div class="shadow px-6 py-7 rounded overflow-hidden ">
        <h1 class="text-2xl  font-semibold mb-1">About Us</h1>
        <div class="text-gray-600 mt-6 space-y-2">
            <h3 class="font-semibold text-lg">Welcome to ShopOnline:</h3>
        <p>At ShopOnline, we believe in providing our customers with a curated selection of high-quality and stylish products across various categories. We are your one-stop destination for accessories, electronics, clothing and shoes, personal care and beauty, as well as furniture and decor.</p>
        </div>

        <div class="text-gray-600 mt-6 space-y-2">
            <h3 class="font-semibold text-lg">Our Mission:</h3>
        <p>Our mission is to offer our customers a seamless and enjoyable shopping experience by providing top-notch products that cater to their diverse needs. We strive to exceed expectations in terms of quality, customer service, and value for money.</p>
        </div>

        <div class="text-gray-600 mt-6 space-y-2">
            <h3 class="font-semibold text-lg">Quality Assurance:</h3>
        <p>We handpick every product that we showcase on our platform to ensure exceptional quality. Our team of experts thoroughly reviews and tests each item to guarantee that it meets our stringent quality standards before it reaches your hands.</p>
        </div>

        <div class="text-gray-600 mt-6 space-y-2">
            <h3 class="font-semibold text-lg">Our Promise:</h3>
            <ul class="pl-3">
                <li>• Exceptional customer service: Our dedicated support team is always ready to assist you with any inquiries, concerns, or order-related questions. Your satisfaction is our top priority.</li>
                <li>• Fast and reliable shipping: We understand that time is of the essence when it comes to online shopping. We work with trusted logistics partners to ensure quick and secure delivery of your purchases.</li>
                <li>• Hassle-free returns: Your happiness matters to us. If you're not completely satisfied with your purchase, we offer hassle-free returns to make your shopping experience risk-free.</li>
            </ul>
        </div>

        <p class="text-gray-600 mt-6 font-semibold">Thank you for choosing ShopOnline. We are excited to embark on this shopping journey with you and look forward to serving you with the best products and service.</p>
        <p class="text-gray-600 mt-4 border-b pb-5">Happy shopping!</p>

        <div class="flex gap-3 mt-4">
            <a href="" class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

    </div>
</div>
