<!-- icon -->
<div class="container py-4 flex items-center gap-3">
 <a routerLink="/" class="text-primary text-base">
    <i class="fas fa-home"></i>
 </a>
 <span class="text-sm text-gray-400">
    <i class="fas fa-chevron-right"></i>
 </span>
 <p class="text-gray-600 font-medium">Shop</p>
</div>

<!-- filter side bar  -->
<div class="container grid grid-cols-4 gap-6 pt-4 pb-16 items-start">
    <div class="col-span-1 bg-white px-4 pb-6 shadow rounded overflow-hidden">
        <div class="divide-y divide-gray-200 space-y-5">
            <!-- categories -->
            <div class="pt-2">
                <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">categories</h3>
                <div class="space-y-2">
                    <div class="flex items-center" *ngFor="let category of categories">
                        <input type="checkbox" id="cat-1" class="text-primary focus:ring-0 rounded-sm cursor-pointer">
                        <label for="cat-1" class="text-gray-600 ml-3 cursor-pointer">{{category.nameCategory}}</label>
                        <div class="ml-auto text-gray-600 text-sm">(2)</div>
                    </div>
                </div>
            </div>
            <!-- brands -->

           
            <!-- price filter -->
            <div class="pt-4">
                <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Price</h3>
                <div class="mt-4 flex items-center">
                    <input type="text" class="w-full border-gray-300 focus:border-primary focus:ring-0 px-3 py-1 text-gray-600 text-sm shadow-sm rounded" placeholder="Min">
                    <span class="mx-3 text-gray-500 font-bold">-</span>
                    <input type="text" class="w-full border-gray-300 focus:border-primary focus:ring-0 px-3 py-1 text-gray-600 text-sm shadow-sm rounded" placeholder="Max">
                </div>
            </div>
            <!-- size filter -->
            <div class="pt-4">
                <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Size</h3>
                <div class="flex items-center gap-2 pl-14">
                    <div class="size-selector">
                        <input type="radio" name="size" class="hidden" id="size-s">
                        <label for="size-s" class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">S</label>
                    </div>
                    <div class="size-selector">
                        <input type="radio" name="size" class="hidden" id="size-m">
                        <label for="size-m" class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">M</label>
                    </div>
                    <div class="size-selector">
                        <input type="radio" name="size" class="hidden" id="size-l">
                        <label for="size-l" class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">L</label>
                    </div>
                    <div class="size-selector">
                        <input type="radio" name="size" class="hidden" id="size-xl">
                        <label for="size-xl" class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">XL</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- products list -->
    <div class="col-span-3">
        <!-- sorting -->
        <div class="flex items-center mb-4">
            <select class="w-44 text-sm text-gray-600 px-4 py-3 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary">
                <option>Default sorting</option>
                <option>Price low-hight</option>
                <option>Price hight-low</option>
                <option>Latest product</option>
            </select>
            <div class="flex gap-2 ml-auto">
                <button (click)="changeview(true)" (click)="swapColors()" [ngClass]="isSelected ? 'bg-primary border-primary text-white' : 'bg-white border-gray-300 text-gray-600'" class="border  w-10 h-9 flex items-center justify-center  rounded cursor-pointer">
                    <i class="fas fa-th"></i>
                </button>
                <button (click)="changeview(false)" (click)="swapColors()" [ngClass]="isSelected ? 'bg-white border-gray-300 text-gray-600' : 'bg-primary border-primary text-white'" class="border  w-10 h-9 flex items-center justify-center   rounded cursor-pointer">
                    <i class="fas fa-list"></i>
                </button>
            </div>
        </div>
        <!-- list grid -->
        <div *ngIf="grid" class="grid grid-cols-3 gap-6">
            <div class="bg-white shadow rounded overflow-hidden group" *ngFor="let product of products">
                <div class="relative ">
                    <img [src]="product.pricture" class="w-full "  loading="lazy" priority>
                    <div class="absolute  inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                        <a [routerLink]="['/product-detail', product.id]" class="text-white text-lg w-9 h-9 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition">
                            <i class="fas fa-search"></i>
                        </a>
                        <button (click)="addToWishList(product)" class="text-white text-lg w-9 h-9 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div>
                <div class="pt-3 pb-3 px-4">
                    <a [routerLink]="['/product-detail', product.id]">
                        <h4 class=" font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">{{product.name}}</h4>
                    </a>
                    <div class="flex items-baseline mb-1 space-x-2">
                        <p class="text-xl text-primary font-semibold">{{product.priceTTC | currency}}</p>
                        <p class="text-sm text-gray-400 line-through">{{product.priceHt | currency}}</p>
                    </div>
                    <div class="flex items-center">
                        <!-- NgFor let i for rating-->
                        <div class="flex gap-1 text-sm text-yellow-400" *ngFor="let i of [].constructor(product.avg_rating); let index = index" >
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <div class="text-xs text-gray-500 ml-3">{{"(" +product.avg_rating + "/5)" }}</div>
                    </div>
                </div>
                <button (click)="addToCart(product)" class="block w-full py-1 text-center font-semibold text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">
                    <i class="fas fa-shopping-bag"></i> Add to cart</button>
            </div>
        </div>
        <!-- product list tableu -->
        <div *ngIf="!grid">
            <table class="w-full">
                <tbody>
                    <tr *ngFor="let product of products"  class="w-full  border-gray-600 transition-colors ">
                        <td class="flex gap-x-6 items-center py-4 pl-10">
                            <img [routerLink]="['/product-detail', product.id]" [src]="product.pricture" alt="product_img" class="w-40 aspect[3/2] rounded-lg object-cover object-top border border-gray-200 cursor-pointer">
                            <a [routerLink]="['/product-detail', product.id]">
                                <h4 class=" font-medium font-roboto text-lg mb-2 text-gray-800 hover:text-primary transition">{{product.name}}</h4>
                            </a>
                        </td>
                        <td class="font-medium text-center text-gray-600">{{product.priceTTC | currency}}</td>
                        <td class=" text-center text-gray-600">
                            <div class="flex items-center ml-14">
                                <div class="flex gap-1 text-sm text-yellow-400" *ngFor="let i of [].constructor(product.avg_rating); let index = index" >
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                                <div class="text-xs text-gray-600 ">{{"(" +product.avg_rating + "/5)" }}</div>
                            </div>
                        </td>
                        <td class="font-medium text-center text-gray-600"><button (click)="addToCart(product)" class="px-6 py-2 text-center text-sm text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition font-semibold">Add To Cart</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
</div>



