<div class="container py-16 items-start">
    <div class="shadow px-6 py-7 rounded overflow-hidden ">
        <table class="w-full">
            <thead>
                <tr class="text-md font-se text-primary ">
                    <td class="pl-40"></td>
                    <td class="py-4 px-4  text-center">Price</td>
                    <td class="py-4 px-4 text-center">Rating</td>
                    <td class="py-4 px-4 text-center">Category</td>
                    <td class="py-4 px-4 text-center ">Brand</td>
                </tr>
            </thead>
           
            <tbody>
                <tr *ngFor="let product of products"  class="w-full border-b border-primary  transition-colors ">
                    <td class="flex gap-x-4 items-center py-4 pl-10">
                        <img [src]="product.pricture" alt="product_img" class="w-40 aspect[3/2] rounded-lg object-cover object-top border border-gray-200">
                        <span class="text-lg font-medium text-gray-600"> {{product.name}} </span>
                    </td>
                    <td class="font-medium text-center text-gray-600">{{product.priceTTC | currency}}</td>
                    <td class=" text-center text-gray-600">
                        <div class="flex items-center ml-14">
                            <div class="flex gap-1 text-sm text-yellow-400" *ngFor="let i of [].constructor(product.avg_rating); let index = index" >
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <div class="text-xs text-gray-600 ">{{"(" +product.avg_rating + "/5)" }}</div>
                        </div>
                    </td>
                    <td class="font-medium text-center text-gray-600">{{product.category.nameCategory}}</td>
                    <td class="font-medium text-center text-gray-600">
                        <span class=" font-normal  " >{{product.brand}} </span>
                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
